.header{
  @extend %clearfix;
  position: relative;
  height: 600px;
}

.header__bg {
  background: #fff url('../../assets/img/header-bg.jpg') center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 600px;
}


.header__socials {
  position: absolute;
  left: 30px;
  top: 35px;

  @include phones {
    top: 15px;
    left: 10px;
  }

}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 210px;
  margin-top: -100px;
  margin-left: -105px;
}

.header__svg-title {
  width: 62%;
  height: 230px;
  fill: rgba(255, 255, 255, 0.2);
  @include centered-by-margin(-31%, -115px);
}

.blog__svg-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: -100;

  height: 190px;
  fill: rgba(255, 255, 255, 0.2);
}
