extends ../layout-login

block title
    title Главная страница

block content
        .welcome__login
            a(class='log-button' href='login.html')
                span.log-button__text Авторизоваться
        .welcome__user.user-block
            include ../common/user
            block user-text
                .user__name
                    | Алексей Исаев
                .user__desc
                    | Личный сайт веб-разработчика
                .welcome-socials
                    include ../common/socials
            mixin btns (href, name, cls)
                a(href=href class=`btn-nav__link ${cls}__link`)= name
            .user-nav.btn-nav
                +btns('works.html', 'Мои работы', 'user-nav')
                +btns('about.html', 'Обо мне', 'user-nav')
                +btns('blog.html', 'Блог', 'user-nav')
