.header__trigger {
  position: absolute;
  top: 28px;
  right: 30px;

  @include phones {
    top: 10px;
    right: 10px;
  }

  .trigger-icon {
    height: 23px;
    width: 27px;
    fill: #fff;

    @include phones {
      height: 14px;
      width: 25px;
    }
  }

}