.blog-header{
  height: 440px;

  .user__name, .header__desc {
    display: none;
  }
}

.blog-arrow {
  bottom: 50px !important;
}

.blog-name {
  color: #fff;
  position: static;
  margin-bottom: 30px;

  &:after {
    background: #fff;
  }
}

.blog-content {
  position: relative;
  background-color: $pale;
  padding: 50px 110px 0 45px;
  @extend %clearfix;

  @include tablets {
    padding: 50px 45px 0 25px;
  }

  @include phones {
    padding: 35px 10px 0 10px;
  }
}

.blog-nav {
  float: left;
  width: 35%;
  padding-right: 80px;
  position: relative;

  @include tablets {
    transform: translate(-110%);
    position: absolute;
  }

  @include phones {
    transform: translate(-105%);
    position: absolute;
  }


  @include phones {
    width: 85%;
  }

  &--opened {
    transform: translate(-10%);
    position: static;
    background-color: $brand-green;
    padding-right: 20px;

    .blog-items__link {
      color: #fff;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    width: 280px;

    @include tablets {
      width: 230px;
    }
  }
}



.blog-items__item {
  display: block;
  padding: 20px 10px 10px;
  text-align: right;
  box-sizing: content-box;
  border-right: 3px solid transparent;

  &:hover {
    border-right: 3px solid $brand-green;
  }
}

.blog-items__link {
  font-family: 'Robot-Bold', Arial, sans-serif;
  color: $brand-green;
  text-decoration: none;
}

.tail {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  height: 30px;
  width: 15px;
  background-color: $brand-green;
  border-radius: 0 50% 50% 0;

  @include tablets {
    display: block;
  }
}

.articles {
  float: right;
  width: 65%;
  
  @include tablets {
    width: 100%;
  }
}

.blog-footer,.blog-footer-copy{
  position: static;
}

.articles--collapsed {
  width: 65%;

  @include phones {
    width: 15%;
  }
}
