doctype html
html(lang="ru-RU")
    include common/head
    body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
        .wrapper
            //Шапка
            include common/header
            //-Контент
            block content
            include  common/footer